.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #111;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #111, rgb(27, 27, 27), #111) 1;
    color: white;
    padding: 70px 100px 150px 100px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 1000;
}

.logo {
    width: 35px;
    height: 35px;
}

.nav {
    display: flex;
    gap: 60px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #cacaca;
}

.categoryName {
    font-size: 17px;
}

.categoryNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categoryNav li {
    margin: 5px 0;
    margin-bottom: 10px;
}

.categoryNav i {
    margin-right: 5px;
}

.categoryNav a {
    color: rgb(172, 172, 172);
    text-decoration: none;
    font-size: 15px;
}

.categoryNav .redirect {
    margin-right: 0;
    margin-left: 0px;
    font-size: 10px;
}

.categoryNav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 40px 50px 80px 50px;
    }

    .logo {
        margin-bottom: 40px;
    }

    .nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 100%;
        text-align: left;
    }

    .category {
        flex: 1 1 40%;
        min-width: 150px;
        align-items: left;
    }

    .categoryName {
        margin-bottom: 15px;
    }

    .categoryNav {
        text-align: left;
    }

    .categoryNav li {
        margin-bottom: 15px;
    }
}
