.sidebar {
    width: 250px;
    background: #111;
    border-right: 1px solid #1d1d1d;
    color: rgb(158, 158, 158);
    position: fixed;
    top: 20px;
    height: 100%;
    padding-top: 55px;
    overflow-y: auto;
    top: 0;
    z-index: 3;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar p {
    color: #fff;
    margin-top: 25px;
}

.nav-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #111;
    width: 100%;
}

.nav-item i {
    font-size: 10px;
    margin-left: 3px;
}

.nav-item a {
    color: rgb(158, 158, 158);
    padding: 10px;
}

.nav-item a:hover {
    color: #fff;    
}

.active a {
    color: #fff;
}

.menuButton {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    width: 24px;
    height: 20px;
    position: relative;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(158, 158, 158);
    position: absolute;
    transition: 0.3s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 9px; }
.hamburger span:nth-child(3) { top: 18px; }

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}

.overlay {
    display: none;
}

@media (max-width: 768px) {
    .menuButton {
        display: block;
    }

    .sidebar {
        transform: translateX(-110%);
        transition: transform 0.3s ease;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}